<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
    android:label="C-QUIZ"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".LoginRegisterActivity"
            android:theme="@style/AppTheme">
        </activity>


        <activity android:name=".RegistrationActivity"/>

        <activity android:name=".LoginActivity"/>

        <activity android:name=".GameRulesActivity"/>

        <activity android:name=".ScoreHistoryActivity"/>

        <activity android:name=".MainActivity"/>

        <activity android:name=".ResultActivity"/>
    </application>
</manifest>





